@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lexend:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  src: local('Futura PT Medium'), local('Lato-Bold'),
       url('../../public/fonts/FuturaPT-Medium.woff2') format('woff2'),
       url('../../public/fonts/FuturaPT-Medium.woff') format('woff');
}

$font-indie: Indie Flower, cursive;
$font-futura: Futura PT;
$font-lexend: Lexend, sans-serif;
