$color-fill-main: #110a1d;
$color-fill-blue: #478bf9;
$color-additional-purple: #9dadf2;
$color-text-white: #fff;

$breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1920px,
);
